.Announcement{
    &-individual{
        padding: 1.5rem;
        overflow: hidden;
        &__image{
            height: 18rem;
            border-radius: 1rem;
        }
        &__title{
          @extend .About-MissionVision__head;
          text-transform: capitalize;  
          font-size: 1rem;
        }
        &__date{
            @extend .About-values__title;
        }
        &__venue{
            @extend .About-MissionVision__description;
        }
    }
    &-row2{
        display: flex;
        justify-content: center;
        gap: 1rem;
        &__button{
            @extend .herobutton;
        }
    }
}

.Announcement-row2{
    display: none;
}

@media screen and (max-width:993px) {
    .Announcement-row2{
        display: flex;
    } 
}