.Button-container {
  display: flex;
  justify-content: center;
}

.herobutton {
  height: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: $font;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  &:hover {
    color: white;
    background-color: black;
  }
}


.eventbutton{
  @extend .herobutton;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  color: black;
  font-weight: 400;
  height: 3rem;
  &:hover{
    border: 1px solid #000080 ;
  }
}