.hero {
    min-height: 100vh;
    background: linear-gradient(#08003ab3,#08003ab3),url(/herobg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

