.hero {
    min-height: 100vh;
    background: linear-gradient(#3c375eb3,#463f6fb3),url(/herobg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

