.Navbar{
    width: 100%;
    padding: 1.25rem 0rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-family: $font;
    &-dark{
        background: #212ea0;
        transition: .5s;
        color: #fff;  
        // top: 0;
        // left: 0;
        // position: fixed;
    }
    &-logo{
        width: 11rem; 
    }
    &-menu{
& li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 1rem;
}
    }
}

.link-default{
    color: inherit;         
    font-size: inherit;     
    text-decoration: inherit;
}

.menu-icon {
    display: none;
}

@media (max-width: 1000px) {
    .logo {
        width:140px
    }

    nav ul li {
        margin: 10px 15px
    }
}

@media (max-width: 840px) {
    nav {
        padding:15px 0
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212ea0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: .5s
    }

    nav ul li {
        display: block;
        margin: 25px 40px
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer
    }

    .hide-mobile-menu {
        right: -200px
    }
}

