.Navbar{
    width: 100%;
    padding: 1.25rem 0rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-family: $font;
    &-dark{
        background: #212ea0;
        transition: .5s;
        color: #fff;  
        // top: 0;
        // left: 0;
        // position: fixed;
    }
    &-logo{
        width: 11rem; 
    }
    &-menu{
& li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 1rem;
}
    }
}

.link-default{
    color: inherit;         
    font-size: inherit;     
    text-decoration: inherit;
}


