.Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  font-family: $font;
  transition: 0.5s;
  &.sticky {
    background: #212ea0;
    color: #fff;
    top: 0;
  }
  &-container {
    padding: 1.25rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    width: 11rem;
  }
  &-menu {
    & li {
      display: inline-block;
      list-style: none;
      margin: 5px 20px;
      font-size: 1rem;
    }
  }
}

.link-default {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}


.MobileNav-container{
  display: none;
}

@media screen  and (max-width:993px){
  .Navbar-container{
    display: none;
  }
  .MobileNav-container{
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__icon{
  height: 2rem;
  width: 2rem;
    }
  }
}