@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
.Navbar.sticky {
  background: #212ea0;
  color: #fff;
  top: 0;
}
.Navbar-container {
  padding: 1.25rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar-logo {
  width: 11rem;
}
.Navbar-menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 1rem;
}

.link-default {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(60, 55, 94, 0.7019607843), rgba(70, 63, 111, 0.7019607843)), url(/herobg.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button-container {
  display: flex;
  justify-content: center;
}

.herobutton, .eventbutton {
  height: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #000080;
  border: none;
}
.herobutton:hover, .eventbutton:hover {
  color: #000080;
  background-color: white;
}

.eventbutton {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  color: black;
  font-weight: 400;
  height: 3rem;
}
.eventbutton:hover {
  border: 1px solid #000080;
}

.Head {
  text-align: center;
  color: white;
}
.Head-title {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}
.Head-description, .About-row1__col2__introduction {
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.Title {
  padding: 2rem;
  text-align: center;
}
.Title-title {
  font-size: 1.25rem;
  font-family: "Lobster Two", sans-serif;
  color: #000080;
}
.Title-head {
  font-size: 2.5rem;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.About {
  padding-bottom: 3rem;
}
.About-row1 {
  margin-bottom: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.About-row1__col1 {
  display: flex;
  justify-content: center;
}
.About-row1__col2__introduction {
  text-align: left;
  margin-bottom: 2rem;
}
.About-MissionVision {
  padding: 0.75rem 0rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.About-MissionVision__head, .Announcement-individual__title, .About-values {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000080;
}
.About-MissionVision__description, .Announcement-individual__venue {
  font-size: 15px;
  font-weight: 300;
}
.About-values {
  text-align: center;
  color: #000080;
}
.About-values__title, .Announcement-individual__date {
  font-size: 1rem;
  font-weight: 400;
}

.Program {
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}
.Program:hover .Program-caption {
  opacity: 1;
  padding-top: 0;
}
.Program:hover img {
  opacity: 0.5;
}
.Program-caption {
  position: absolute;
  top: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000080;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
}
.Program-icons {
  height: 3rem;
  width: 3rem;
}

.Announcement-individual {
  padding: 1.5rem;
  overflow: hidden;
}
.Announcement-individual__image {
  height: 18rem;
  border-radius: 1rem;
}
.Announcement-individual__title {
  text-transform: capitalize;
  font-size: 1rem;
}
.Partners .carousel-indicators button {
  display: none;
}

.Partners .carousel-control-prev,
.carousel-control-next {
  display: none;
}

.Partners {
  padding: 2rem 0rem;
  background-color: #e0e0f2;
  display: flex;
  justify-content: center;
}
.Partners-col {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
}
.Partners-col__image {
  height: 10rem;
  width: 10rem;
}/*# sourceMappingURL=App.css.map */